/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --blue: #3eb0ef;
    --green: #a4d037;
    --purple: #ad26b4;
    --yellow: #fecd35;
    --red: #f05230;
    --darkgrey: #15171A;
    --midgrey: #738a94;
    --lightgrey: #c5d2d9;
    --whitegrey: #e5eff5;
    --pink: #fa3a57;
    --brown: #a3821a;
    --darkmode: color-mod(var(--darkgrey) l(+2%));
}

/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
i,
em,
dfn {
    font-style: italic;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0; /* 3 */
    color: inherit; /* 1 */
    font: inherit; /* 2 */
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 3 */

    -webkit-appearance: button; /* 2 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box; /* 2 */

    -webkit-appearance: textfield; /* 1 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0; /* 2 */
    border: 0; /* 1 */
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    overflow-x: hidden;
    color: color-mod(var(--midgrey) l(-30%));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

::selection {
    text-shadow: none;
    background: color-mod(var(--blue) lightness(+30%));
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 2.5em 0 3.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid color-mod(var(--lightgrey) l(+10%));
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.6em 0 1.6em;
    border-left: var(--whitegrey) 0.5em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    color: color-mod(var(--blue) l(-5%));
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 5.5rem;
    font-weight: 600;
}
@media (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 2.2rem;
}
@media (max-width: 500px) {
    h2 {
        font-size: 1.8rem;
    }
}

h3 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.8rem;
    font-weight: 500;
}
@media (max-width: 500px) {
    h3 {
        font-size: 1.7rem;
    }
}

h4 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.6rem;
    font-weight: 500;
}

h5 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

Publishing
Discover the most powerful modern open source publishing platform

Memberships
Turn your audience into a business with memberships & subscriptions

Integrations
Hundreds of apps directly integrated with Ghost, thousands more via Zapier

Themes
A curated gallery of beautiful pre-made publication templates for Ghost

Customers
Real results from real companies using Ghost to publish their content

INDUSTRY
For Startups
For Newsletters
For Bloggers
COMPARISONS
Ghost vs WordPress
Ghost vs Medium
Ghost vs Tumblr
June Updates: What's New
We've been hard at work during lockdown, updating Ghost and working on many of your most requested features ✨
Documentation
Detailed docs for developers

Install / Setup
How to install & configure Ghost

Theme Docs
Build and customise your site

API Reference
Tools and SDKs for building sites & apps

GET STARTED
Adding analytics
Setup comments
User permissions
POPULAR
Updating Ghost
Custom homepages
SEO settings
View source on GitHub (MIT)
About Us
We’re a non-profit startup on a mission

Help Center
Frequently asked questions

Community Forum
Talk to thousands of other Ghost users

Product Updates
See our changelog and roadmap

THE BLOG
— August 19th, 2020
How to start a successful membership business without a huge audience
You can gain serious momentum with your membership business—even with a smaller audience. Find your first 100 true fans, cultivate them, and build a fulfilling and thriving premium community.

Read more on our blog
Tutorials
Add a contact form to Ghost
A contact form on your site is a way for your audience to get in touch with you directly. In this tutorial we’ll show you how to add a custom contact form directly into your Ghost theme.

Prerequisites
The following tutorial involves customising a Ghost theme, specifically Casper theme. To learn more check out our extensive Handlebars theme documentation as well as our FAQ guides on downloading and uploading themes. If you’re looking for a less code-heavy way of adding a contact form to your Ghost site then check out our form Integrations. You'll also need to sign up to Formspree, which is the service we'll be using for handling form submissions.

Creating a custom page template
This tutorial covers how to add a contact form to a page with custom styling. To provide more control of where the form can be added, we're going to take this one step further by creating a custom page template. This means all authors of your site will be able to add a form to any page using a single drop-down menu.

Create a new template file
Create a new file at the root of your theme called custom-page-with-form.hbs and open it in your code editor. To get a head start on the template, and to match the existing page template design, open the existing page.hbs template and copy the code within it into the new custom template file you just created.

Creating a form
For this tutorial we’re going to be using Formspree, a service designed to add forms to any web page using standard HTML.

Locate a position in your recently created template where you would like a form to be rendered. In my example I've placed the form just after the main content within the page. Using the Formspree documentation as guidance, add a HTML form to the custom-page-with-form.hbs template.

<section class="post-full-content">
  <div class="post-content">
    {{content}}
  </div>

  <form class="contact-form" action="https://formspree.io/YOUR@EMAIL.HERE" method="post">
    <label for="full-name">Name</label>
    <input type="text" name="name" id="full-name" placeholder="First and Last" required>
    <label for="email-address">Email Address</label>
    <input type="email" name="_replyto" id="email-address" placeholder="Your email address" required>
    <label for="message">Message</label>
    <textarea rows="5" name="message" id="message" placeholder="Your message" required></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
    <input type="submit" value="Submit">
  </form>

</section>
Any message sent using this form will get sent directly to your email inbox. You’ll need to update the form action value with your email. The form above includes Name, Email and Message fields. However if you’re wanting something more custom to your needs, check out the examples in the Formspree Library, or their official documentation.

Styling your contact form
Next we need to add some style and layout to our form. Depending on your theme, you might already have some default styles for form elements. If you're using Casper, like in this tutorial, the following CSS should get you off to a good start:

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2em 1em;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  padding: 0.4em 0.6em 0.5em;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 0.95em;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 1px solid #3eb0ef;
  outline-offset: -1px;
}
.contact-form label[for="full-name"],
.contact-form label[for="email-address"] {
  order: -1;
}
.contact-form input {
  order: 0;
  margin-bottom: 0.6em;
}
.contact-form label[for="message"],
.contact-form textarea {
  grid-column-end: span 2;
}
.contact-form input[type="submit"] {
  grid-column-start: 2;
  justify-self: end;
  margin-top: 0.6em;
  background: #3eb0ef;
  color: white;
  width: auto;
}
